<section class="about" id="about">
  <div class="about_container container">
    <h2 class="section_title">Hangi İşlerde Yardımcı Olabiliriz?</h2>
    <p class="section-name">Hizmetlerimiz</p>
    <div class="about_inner">
      <article class="about_section_inner_item">
        <img src="./img/Electric.png" alt="Electric" />
        <h3 class="about_section_inner_item_title">Elektrik Arızaları</h3>
      </article>
      <article class="about_section_inner_item">
        <img src="./img/Plumbing.png" alt="Plumbing" />
        <h3 class="about_section_inner_item_title">Tesisat Tamiri</h3>
      </article>
      <article class="about_section_inner_item">
        <img src="./img/Furniture.png" alt="Furniture" />
        <h3 class="about_section_inner_item_title">Mobilya Kurulumu</h3>
      </article>
      <article class="about_section_inner_item">
        <img src="./img/Paint.png" alt="Paint" />
        <h3 class="about_section_inner_item_title">Duvar Boyası ve Onarım</h3>
      </article>
      <article class="about_section_inner_item">
        <img src="./img/Keys.png" alt="Keys" />
        <h3 class="about_section_inner_item_title">Kapı/Kilit Sorunları</h3>
      </article>
      <article class="about_section_inner_item">
        <img src="./img/Move.png" alt="Move" />
        <h3 class="about_section_inner_item_title">
          Temizlik ve Taşıma Yardımı
        </h3>
      </article>
    </div>
  </div>
</section>
