<section class="contacts" id="contacts">
  <div class="container container_contacts">
    <h2 class="section_title">Bize Ulaşın</h2>
    <p class="section-name">İletişim</p>
    <ul class="contacts_list">
      <li class="contacts_list_item">
        <span>Telefon:</span> <a href="tel:+902123456789">+90 212 345 67 89</a>
      </li>
      <li class="contacts_list_item">
        <span>E-posta:</span>
        <a href="mailto:info@superblastmatch.com">info@superblastmatch.com</a>
      </li>
      <li class="contacts_list_item">
        <span>Adres:</span>
        <address>Barbaros Mahallesi, Ataşehir Bulvarı No:45, İstanbul</address>
      </li>
      <li class="contacts_list_item">
        <span>Çalışma Saatleri:</span> Pazartesi - Cumartesi:
        <time datetime="08:00">08:00</time> -
        <time datetime="20:00">20:00</time>
      </li>
    </ul>
  </div>
</section>
