<div class="cookies-section">
  <div class="cookies-container">
    <p class="cookies-text">
      Web sitemizdeki deneyiminizi geliştirmek için çerezler kullanıyoruz. Bu
      web sitesinde gezinerek çerez kullanımımızı kabul etmiş olursunuz.
    </p>
    <div class="cookies-buttons">
      <button class="cookies-button cookies-accept-js">
        Çerezleri Kabul Et
      </button>
      <button class="cookies-button cookies-decline-js">
        Çerezleri Reddet
      </button>
    </div>
  </div>
</div>
