<section class="features" id="features">
  <div class="features_container container">
    <h2 class="section_title">Super Blast Match Farkı</h2>
    <p class="section-name">Neden Bizi Tercih Etmelisiniz?</p>
    <div class="features_inner">
      <article class="features_inner_item">
        <img src="./img/feature/feature1.png" alt="Onaylı Yardımcılar" />
        <h3 class="features_inner_item_title">Onaylı Yardımcılar</h3>
      </article>
      <article class="features_inner_item">
        <img src="./img/feature/feature2.png" alt="Hızlı Geri Dönüş" />
        <h3 class="features_inner_item_title">Hızlı Geri Dönüş</h3>
      </article>
      <article class="features_inner_item">
        <img src="./img/feature/feature3.png" alt="Uygun Fiyatlar" />
        <h3 class="features_inner_item_title">Uygun Fiyatlar</h3>
      </article>
      <article class="features_inner_item">
        <img src="./img/feature/feature4.png" alt="Müşteri Memnuniyeti" />
        <h3 class="features_inner_item_title">Müşteri Memnuniyeti</h3>
      </article>
      <article class="features_inner_item">
        <img src="./img/feature/feature5.png" alt="7/24 Destek" />
        <h3 class="features_inner_item_title">7/24 Destek</h3>
      </article>
    </div>
  </div>
</section>
