<footer class="footer">
  <div class="footer_container container">
    <ul class="footer_list">
      <li class="footer_list_item">
        <a href="./privacy-policy.html">Gizlilik Politikası</a>
      </li>
      <li class="footer_list_item">
        <a href="./terms-and-conditions.html">Şartlar ve Koşullar</a>
      </li>
      <li class="footer_list_item">
        <a href="./cookies-policy.html">Çerez Politikası</a>
      </li>
    </ul>
    <p class="footer_copyright">
      <a>superblastmatch.com © Tüm hakları saklıdır, 2025</a>
    </p>
  </div>
</footer>
