<header class="header">
  <div class="header_container container">
    <a href="./index.html" class="header_logo">
      <img src="./img/logo.png" alt="logo" />
    </a>
    <nav class="header-nav-pc">
      <ul class="header-nav-pc-list">
        <li class="header-nav-pc-item">
          <a href="#hero">Home</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#about">Hizmetlerimiz</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#uniqueness">Nasıl Çalışır?</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#features">Neden Bizi Tercih Etmelisiniz?</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#reviews">Fiyat Listesi</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#comments">Kullanıcı Yorumları</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#questions">Sık Sorulan Sorular</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#contacts">İletişim</a>
        </li>
      </ul>
    </nav>
    <nav class="header-nav-mobile">
      <button type="button" class="header-nav-mobile-button-close">
        <img src="./img/close-menu.png" alt="menu" />
      </button>
      <ul class="header-nav-mobile-list">
        <li class="header-nav-mobile-item">
          <a href="#hero">Home</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#about">Hizmetlerimiz</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#uniqueness">Nasıl Çalışır?</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#features">Neden Bizi Tercih Etmelisiniz?</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#reviews">Fiyat Listesi</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#comments">Kullanıcı Yorumları</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#questions">Sık Sorulan Sorular</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#contacts">İletişim</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-nav-mobile-button">
      <img src="./img/burger-menu.png" alt="menu" />
    </button>
  </div>
</header>
