<section class="hero" id="hero">
  <div class="container container_hero">
    <h1 class="hero_title">
      <span>Anında Yardımcı Bulun</span> – Super Blast Match ile Küçük Sorunlara
      Büyük Çözüm!
    </h1>
    <p class="hero_text">
      Sıhhi tesisat, elektrik, mobilya montajı, boya ve daha fazlası için
      güvenilir ustalara saniyeler içinde ulaşın.
    </p>
    <a href="#" class="hero_btn">Hemen Yardımcı Bul</a>
    <img class="hero_img" src="./img/Hero_peoplepng.png" alt="builder" />
  </div>
</section>
