<section class="questions" id="questions">
  <div class="questions_container container">
    <h2 class="section_title">Aklınıza Takılanlar</h2>
    <p class="section-name">Sık Sorulan Sorular</p>
    <div class="questions_inner">
      <div class="questions_inner_flex">
        <div class="questions_inner_item">
          <h3 class="questions_inner_item_title">
            Hizmet garantisi veriyor musunuz?
          </h3>
          <h3 class="questions_inner_item_text">
            Evet, her hizmet sonrası kullanıcı değerlendirmesi ve destek
            garantimiz vardır.
          </h3>
        </div>
        <div class="questions_inner_item">
          <h3 class="questions_inner_item_title">
            Yardımcılar kimden oluşuyor?
          </h3>
          <h3 class="questions_inner_item_text">
            Kimlik ve referans kontrolünden geçmiş deneyimli kişilerdir.
          </h3>
        </div>
        <div class="questions_inner_item">
          <h3 class="questions_inner_item_title">Ödeme nasıl yapılır?</h3>
          <h3 class="questions_inner_item_text">
            Kartla, online veya hizmet sonrası nakit olarak yapılabilir.
          </h3>
        </div>
      </div>
      <img
        class="questions_inner_img"
        src="./img/questions.jpg"
        alt="Aklınıza Takılanlar"
      />
    </div>
  </div>
</section>
