<section class="reviews" id="reviews">
  <div class="reviews_container container">
    <h2 class="section_title">Popüler Hizmetler ve Fiyatları</h2>
    <p class="section-name">Fiyat Listesi</p>
    <div class="reviews_inner">
      <article class="reviews_inner_item">
        <img src="./img/reviews.png" alt="Reviews" />
        <h3 class="about_section_inner_item_title">Elektrik Arızası Giderme</h3>
        <p class="about_section_inner_item_price">250 TL</p>
      </article>
      <article class="reviews_inner_item">
        <img src="./img/reviews.png" alt="Reviews" />
        <h3 class="about_section_inner_item_title">Lavabo Tıkanıklığı Açma</h3>
        <p class="about_section_inner_item_price">300 TL</p>
      </article>
      <article class="reviews_inner_item">
        <img src="./img/reviews.png" alt="Reviews" />
        <h3 class="about_section_inner_item_title">Mobilya Kurulumu</h3>
        <p class="about_section_inner_item_price">200 TL</p>
      </article>
      <article class="reviews_inner_item">
        <img src="./img/reviews.png" alt="Reviews" />
        <h3 class="about_section_inner_item_title">Boya/Badana (oda başı)</h3>
        <p class="about_section_inner_item_price">600 TL</p>
      </article>
      <article class="reviews_inner_item">
        <img src="./img/reviews.png" alt="Reviews" />
        <h3 class="about_section_inner_item_title">Duş Başlığı Değişimi</h3>
        <p class="about_section_inner_item_price">150 TL</p>
      </article>
      <p class="reviews_inner_item_text">
        Ayrıntılı fiyatlandırma için kayıt olunuz.
      </p>
    </div>
  </div>
</section>
