<section class="uniqueness" id="uniqueness">
  <div class="uniqueness_container container">
    <h2 class="section_title">3 Adımda Yardımcı Yanınızda</h2>
    <p class="section-name">Nasıl Çalışır?</p>
    <div class="uniqueness_section_inner">
      <article class="section_inner_item">
        <img src="./img/number1.png" alt="number 1" />
        <div class="section_inner_item_flex">
          <h3 class="section_inner_item_flex_title">İşinizi Tanımlayın</h3>
          <p class="section_inner_item_flex_text">
            Ne yapılması gerektiğini birkaç cümleyle anlatın.
          </p>
        </div>
      </article>
      <article class="section_inner_item">
        <img src="./img/number2.png" alt="number 2" />
        <div class="section_inner_item_flex">
          <h3 class="section_inner_item_flex_title">Yardımcı Seçin</h3>
          <p class="section_inner_item_flex_text">
            Deneyimli, güvenilir kişileri inceleyin.
          </p>
        </div>
      </article>
      <article class="section_inner_item">
        <img src="./img/number3.png" alt="number 3" />
        <div class="section_inner_item_flex">
          <h3 class="section_inner_item_flex_title">Hizmet Alın</h3>
          <p class="section_inner_item_flex_text">
            Randevunuzu oluşturun ve işlemi başlatın.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
